<!DOCTYPE html>
<html>
<head>
    <title>Room {{ room_number }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='humane/css/jackedup.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='humane/js/humane.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            if ("WebSocket" in window)
            {
                var success_msg = humane.create({baseCls:'humane-jackedup', addnCls:'humane-jackedup-success'});
                var fault_msg = humane.create({baseCls:'humane-jackedup', addnCls:'humane-jackedup-error'});

                var $answer_field = $('#answer_field');
                var $answer_button = $('#answer_button');

                $answer_field.keydown(function(event)
                {
                    if (event.which == 13)
                    {
                        var data = {
                            type: '{{ PLAYER_ANSWER_MESSAGE_TO_SERVER }}',
                            room: {{ room_number }},
                            user: '4qwee',
                            answer: $answer_field.val()
                        };
                        $answer_field.fadeOut();
                        ws.send(JSON.stringify(data));
                    }
                });

                $answer_button.click(function()
                {
                    $answer_button.fadeOut();
                    var data = {
                        type: '{{ ANSWER_QUERY_MESSAGE_TO_SERVER }}',
                        room: {{ room_number }},
                        user: '4qwee'
                    };
                    ws.send(JSON.stringify(data));

                    restartTimer();
                    $answer_field.val('');
                    $answer_field.fadeIn();
                    $answer_field.focus();
                });

                ws = new WebSocket("ws://" + document.domain + ":5000/roomWS");
                ws.onopen = function()
                {
                    var data = {
                        type: '{{ START_LISTENING_MESSAGE_TO_SERVER }}',
                        room: {{ room_number }}
                    };
                    ws.send(JSON.stringify(data));
                };
                ws.onmessage = function(event)
                {
                    var data = JSON.parse(event.data);
                    console.log(data);
                    console.log(new Date());

                    if (data.type == '{{ QUESTION_MESSAGE_TO_CLIENT }}')
                    {
                        $answer_button.fadeIn();

                        $('#topic-span').text(data.topic);
                        $('#question-span').text(data.question);

                        restartTimer();
                    }
                    else if (data.type == '{{ STOP_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        $answer_button.attr('disabled', 'disabled');
                    }
                    else if (data.type == '{{ CORRECT_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        success_msg.log('Правильно!');
                    }
                    else if (data.type == '{{ INCORRECT_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        fault_msg.log('Неправильно!');
                    }
                };
            }
            else
            {
                alert("WebSocket not supported");
            }
        });

        var globalTimerInterval = 0;

        var restartTimer = function()
        {
            if (globalTimerInterval)
                clearInterval(globalTimerInterval);

            var $progress_bar = $('#progress_bar');
            var progress = 0;
            $progress_bar.css('width', 0);

            globalTimerInterval = setInterval(function()
            {
                progress += 10;
                $progress_bar.css('width', progress + '%');

                if (progress == 100)
                {
                    clearInterval(globalTimerInterval);
                    $answer_button.fadeOut();
                }
            }, 1000);
        };
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 offset3 well" style="margin-top: 30pt">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0" id="progress_bar"></div>
            </div>

            <div class="lead">
                <strong id='topic-span'></strong>
                <hr>
                <p id="question-span">Обождите. Сейчас машина придумает вам вопрос
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4 offset4">
            <input id="answer_field" type="text" placeholder="Ваш ответ" class="span12" style="display: none">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2 offset5">
            <button id="answer_button" class="btn btn-danger btn-block btn-large">Ответить!</button>
        </div>
    </div>
</div>
</body>
</html>