<!DOCTYPE html>
<html>
<head>
    <title>Комната №{{ room_number }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='humane/css/jackedup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='humane/js/humane.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            if ("WebSocket" in window)
            {
                var success_msg = humane.create({baseCls:'humane-jackedup', addnCls:'humane-jackedup-success'});
                var fault_msg = humane.create({baseCls:'humane-jackedup', addnCls:'humane-jackedup-error'});

                var $answer_field = $('#answer_field');
                var $answer_button = $('#answer_button');
                var $answer_div = $('#answer-div');

                var get_data_template = function(type_def)
                {
                    return {
                        type: type_def,
                        room: {{ room_number }},
                        user:$.cookie('{{ NAME_COOKIE }}')
                    };
                };

                $answer_field.keydown(function(event)
                {
                    if (event.which == 13)
                    {
                        var data = get_data_template('{{ PLAYER_ANSWER_MESSAGE_TO_SERVER }}');
                        data.answer = $answer_field.val();
                        $answer_field.fadeOut();
                        ws.send(JSON.stringify(data));
                        clearInterval(globalTimerInterval);
                    }
                });

                $answer_button.click(function()
                {
                    $answer_button.fadeOut();
                    var data = get_data_template('{{ ANSWER_QUERY_MESSAGE_TO_SERVER }}');
                    ws.send(JSON.stringify(data));

                    restartTimer();
                    $answer_field.val('');
                    $answer_field.fadeIn();
                    $answer_field.focus();
                });

                ws = new WebSocket("ws://" + document.domain + ":5000/roomWS");
                ws.onopen = function()
                {
                    var data = get_data_template('{{ START_LISTENING_MESSAGE_TO_SERVER }}');
                    ws.send(JSON.stringify(data));
                };
                ws.onmessage = function(event)
                {
                    var data = JSON.parse(event.data);
                    console.log(data);
                    console.log(new Date());

                    if (data.type == '{{ QUESTION_MESSAGE_TO_CLIENT }}')
                    {
                        $answer_div.slideUp(200, function()
                        {
                            $answer_div.text('');
                        });
                        $answer_button.fadeIn();

                        $('#topic-div').text(data.topic);
                        $('#question-div').text(data.question);
                        $('#price-div').text(data.price);

                        restartTimer();
                    }
                    else if (data.type == '{{ STOP_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        $answer_button.fadeOut();
                        clearInterval(globalTimerInterval);
                    }
                    else if (data.type == '{{ CORRECT_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        success_msg.log('Правильно!');
                    }
                    else if (data.type == '{{ INCORRECT_ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        fault_msg.log('Неправильно!');
                        $answer_field.fadeOut();
                    }
                    else if (data.type == '{{ INCORRECT_ANSWER_ANOTHER_PLAYER_MESSAGE_TO_CLIENT }}')
                    {
                        fault_msg.log(data.player + ' ответил неправильно "' + data.answer + '"');
                    }
                    else if (data.type == '{{ ANSWER_MESSAGE_TO_CLIENT }}')
                    {
                        $answer_div.text(data.answer);
                        $answer_div.slideDown();
                    }
                    else if (data.type == '{{ SCORES_CHANGED_MESSAGE_TO_CLIENT }}')
                    {
                        var $scores_table = $('#scores-table');
                        $scores_table.empty();

                        for (var player in data.scores)
                            $scores_table.append('<tr><th>' + player + '</th><td>' + data.scores[player] + '</td></tr>')
                    }
                };

                var globalTimerInterval = 0;

                var restartTimer = function()
                {
                    if (globalTimerInterval)
                        clearInterval(globalTimerInterval);

                    var $progress_bar = $('#progress_bar');
                    var progress = 0;
                    $progress_bar.css('width', 0);

                    globalTimerInterval = setInterval(function()
                    {
                        progress += 10;
                        $progress_bar.css('width', progress + '%');

                        if (progress == 100)
                        {
                            clearInterval(globalTimerInterval);
                            $answer_button.fadeOut();
                        }
                    }, 1000);
                };

                var $name_input = $('#name-input');
                var saved_name = $.cookie('{{ NAME_COOKIE }}');
                var $name_modal = $('#name-modal');

                if (!saved_name)
                {
                    saved_name = 'user' + Math.floor(Math.random() * 1000);
                    $.cookie('{{ NAME_COOKIE }}', saved_name);
                    $name_input.val(saved_name);
                    $name_modal.modal();
                }
                else
                    $name_input.val(saved_name);

                $('#save_name_btn').click(function()
                {
                    $.cookie('{{ NAME_COOKIE }}', $name_input.val());
                    $name_modal.modal('hide');
                    window.location.reload();
                });
            }
            else
            {
                alert("WebSocket not supported");
            }
        });
    </script>
</head>
<body style="background-image: url('{{ url_for('static', filename='img/nasty_fabric.png') }}')">

<div class="container-fluid">
    <div class="row-fluid">
        <div class="container-fluid span3">
            <div class="row-fluid" style="margin-top: 10pt">
                <a href="#name-modal" role="button" class="btn" data-toggle="modal">
                    Меня зовут
                </a>
            </div>
            <div class="row-fluid" style="margin-top: 20pt">
                <div class="well well-large span12">
                    <table id="scores-table"></table>
                </div>
            </div>
        </div>

        <div class="container-fluid span9">
            <div class="row-fluid">
                <div class="span12 well" style="margin-top: 10pt">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 0" id="progress_bar"></div>
                    </div>

                    <div id='topic-div' class="lead" style="float: left; border-left: solid 5pt #696969; padding-left: 10pt"></div>
                    <div id="price-div" class="lead" style="float: right; border-right: solid 5pt #696969; padding-right: 10pt"></div>
                    <div id="question-div" style="clear: both">Обождите. Сейчас машина придумает вам вопрос</div>
                    <div id="answer-div" style="margin-top: 10pt; display: none"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 offset4">
                    <input id="answer_field" type="text" placeholder="Ваш ответ" class="span12" style="display: none">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2 offset5">
                    <button id="answer_button" class="btn btn-danger btn-block btn-large">Ответить!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="name-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalLabel">Давай закомиться!</h3>
    </div>
    <div class="modal-body">
        <div>
            <label for="name-input" class="control-label">Вас зовут</label>
            <input id="name-input" type="text" class="input-block-level">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Не хочу</button>
        <button class="btn btn-primary" id="save_name_btn">Хорошо</button>
    </div>
</div>
</body>
</html>